[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
crispy-bootstrap5 = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "==21.9b0"
flake8-django = "*"
flake8-django-migrations = "*"
django-stubs = "*"

[requires]
python_version = "3.9"
