<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'base' %}">Online Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <!-- *** Dropdown menu (Start) *** -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                Все товары
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- *** Dropdown menu (End) *** -->
            </ul>

            <!-- *** Not-authorized_user block (Start) *** -->
            {% if not request.user.is_authenticated %}
                <div class="d-flex">
                    <a href="{% url 'cart' %}" class="btn btn-outline-secondary mx-5">
                        <i class="bi bi-cart"></i>
                        Корзина
                        <span class="badge bg-secondary text-white ms-1 rounded-pill">{{ cart.products.count }}</span>
                    </a>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-secondary" href="{% url 'login' %}">Авторизация</a>
                        <a class="btn btn-outline-secondary" href="{% url 'registration' %}">Регистрация</a>
                    </div>
                </div>
            {% endif %}
            <!-- *** Not-authorized_user block (End) *** -->


            <!-- *** Authorized_user block (Start) *** -->
            {% if request.user.is_authenticated %}

                <div class="btn-group">
                    <a class="btn btn-secondary" href="{% url 'cart' %}">
                        {{ request.user.username }}&nbsp&nbsp&nbsp
                        <i class="bi bi-cart"></i>
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.products.count }}</span>
                    </a>

                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Личный кабинет</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'cart' %}">
                                Корзина&nbsp
                                <span class="badge bg-dark text-white ms-1 rounded-pill">
                                    {{ cart.products.count }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>

            {% endif %}
            <!-- *** Authorized_user block (End) *** -->


        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Online Store</h1>
            <p class="lead fw-normal text-white-50 mb-0">Тут могла быть ваша реклама</p>
        </div>
    </div>
</header>